/* 背景图容器 */
#web_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1); /* 不加暗色 */
}

/* 目录和分类列表 */
#toc, .category-list {
    padding: 20px;
    top: 4rem;
    border-radius: 10px;
    background-color: transparent; /* 保持透明 */
}
