/* 主面板半透明 + 模糊 */
.board,
.post {
  background-color: rgba(255, 255, 255, 0.85) !important; /* 半透明亮色 */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* 暗色模式 */
body[data-user-color-scheme='dark'] .board,
body[data-user-color-scheme='dark'] .post {
  background-color: rgba(66, 58, 52, 0.85) !important; /* 半透明暗色 */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
